/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * before-menu.css = Styles for inaccessible dropdown menu
 */


/*
 * Utility menu
 */

.utility-menu li {
	float:left;
	margin-left: 5px;
}
.utility-menu li:last-child:before {
	content: " | "
}

 /*
  * Main menu
  */

.navbar-nav a:focus {
	outline: 1px dotted white;
}
.dropdown-menu {
	margin-top:-1px;
}
.nav-item.dropdown:hover ul {
	display:block;
}
.navbar-toggler:hover + .navbar-collapse {
	display:block;
}

 /* overwrite some bootstrap menu colors */

.navbar-toggler {
	background-color: #0073e6;
	background-color: #00b4c5;
}
.navbar-dark {
	color: #00b4c5;
}
.navbar-dark .navbar-nav .nav-link {
	color: #00b4c5;
	text-decoration: none;
}
.navbar-dark .navbar-nav .nav-item:hover {
	color: #00b4c5;
	color: #000;
}
.navbar-dark .navbar-nav .nav-link:hover {
	background-color: #00b4c5;
	color: #000;
}
.dropdown-menu {
	margin-top:-1px;
}
.dropdown-item {
	text-decoration: none;
}
.dropdown-item:hover {
	background-color: 00b4c5;
	color: #000;
}

